# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.melos_tool/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Others
*.log
pubspec.lock
